* {
    background-color: black;
    color: white;
}
#hi {
    font-family: 'Courier New', Courier, monospace;
    border:15px ridge;
    text-shadow: 2px 1px 2px;
    box-shadow: 4px 4px 4px;
}
#why {
    color: red;
}
#intro {
    border: outset;
    border-radius: 5px;
    box-shadow: 2px 2px 2px;
    box-sizing: border-box;
    width: 200px;
    height: 170px;
}
h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#JFh1 {
    text-align: center ;
    font-size: 50px;
    background-color: aquamarine;
    color: darkblue;
}
#tp {
    border: solid;
    border-radius: 20px;
    float: left;
    overflow: visible;
    position: absolute;
    top: 170px;
    right: 10px;
    color: wheat;
    padding: 10px;
}
#Fh2 {
    font-family: Arial, Helvetica, sans-serif;
}
#Ftp {
    border: solid;
    border-radius: 20px;
    float: right;
    position: sticky;
    bottom: 750px;
    color: wheat;
    clear: both;
}
#Y1 {
    float: left;
    margin-right: 10px;
    position: relative;
    left: 200px;
    clear: both;
}
#Y2 {
    margin-right: 400px;
    position: relative;
    top: 125px;
    left: 600px;
    clear: both; 
}
#Y3 {
    margin-right: 400px;
    position: relative;
    top: 125px;
    left: 1100px;
    clear: both;
}
#Y4 {
    float: right;
    position: relative;
    right: 200px;
    top: 125px;
    clear: both;

}
#Jtp {
    border: solid;
    border-radius: 20px;
    float: left;
    overflow: visible;
    position: absolute;
    top: 10px;
    right: 10px;
    color: wheat;
    padding: 10px;
}
#persian {
    float: left;
    margin-left: 600px;

}
#Northern {
    float: right;
    position: absolute;
    top: 400px;
    left: 900px;
}
#Dcareer {
    margin-left: 600px;
    margin-top: 200px;
    float: left;
    clear: both;
}
#Fh3 {
    text-align: center;
    clear: both;
}
#Y1-1 {
    float: left;
    clear: both;
    margin: 20px;
    margin-top: 20px;
    margin-left: 70px;
}
#Y1-2 {
    float: left;
    clear: both;
    margin: 20px;
    margin-left: 70px;
}